* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backbone {
    margin: 50px 0;
    gap: 20px 0;

    --backbone-content-color: #fb923c;
    --backbone-popout-color: #facc15;
    --backbone-breakout-color: #4ade80;
    --backbone-full-color: #2dd4bf;
}

.backbone > div {
    padding: 20px 0;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #020617;
}

.backbone h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #020617;
}

.backbone p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #020617;
}

section {
    margin: 0 !important;
    padding: 20px 0;
    background: #d1d5db;
}

.backbone > div:not(.backbone-start-content, .backbone-end-content, .backbone-popout, .backbone-start-popout, .backbone-end-popout, .backbone-breakout, .backbone-start-breakout, .backbone-end-breakout, .backbone-full, .backbone-start-full, .backbone-end-full) {
    background: var(--backbone-content-color);
}

.backbone > div.backbone-popout {
    background: var(--backbone-popout-color);
}

.backbone > div.backbone-breakout {
    background: var(--backbone-breakout-color);
}

.backbone > div.backbone-full {
    background: var(--backbone-full-color);
}

.backbone > div.backbone-start-full.backbone-end-content {
    background: linear-gradient(90deg, var(--backbone-full-color) 0%, var(--backbone-full-color) 25%, var(--backbone-content-color) 75%, var(--backbone-content-color) 100%) ;
}

.backbone > div.backbone-start-full.backbone-end-popout {
    background: linear-gradient(90deg, var(--backbone-full-color) 0%, var(--backbone-full-color) 25%, var(--backbone-popout-color) 75%, var(--backbone-popout-color) 100%) ;
}

.backbone > div.backbone-start-full.backbone-end-breakout {
    background: linear-gradient(90deg, var(--backbone-full-color) 0%, var(--backbone-full-color) 25%, var(--backbone-breakout-color) 75%, var(--backbone-breakout-color) 100%) ;
}

.backbone > div.backbone-start-breakout.backbone-end-content {
    background: linear-gradient(90deg, var(--backbone-breakout-color) 0%, var(--backbone-breakout-color) 25%, var(--backbone-content-color) 75%, var(--backbone-content-color) 100%) ;
}

.backbone > div.backbone-start-breakout.backbone-end-popout {
    background: linear-gradient(90deg, var(--backbone-breakout-color) 0%, var(--backbone-breakout-color) 25%, var(--backbone-popout-color) 75%, var(--backbone-popout-color) 100%) ;
}

.backbone > div.backbone-start-breakout.backbone-end-full {
    background: linear-gradient(90deg, var(--backbone-breakout-color) 0%, var(--backbone-breakout-color) 25%, var(--backbone-full-color) 75%, var(--backbone-full-color) 100%) ;
}

.backbone > div.backbone-start-popout.backbone-end-content {
    background: linear-gradient(90deg, var(--backbone-popout-color) 0%, var(--backbone-popout-color) 25%, var(--backbone-content-color) 75%, var(--backbone-content-color) 100%) ;
}

.backbone > div.backbone-start-popout.backbone-end-breakout {
    background: linear-gradient(90deg, var(--backbone-popout-color) 0%, var(--backbone-popout-color) 25%, var(--backbone-breakout-color) 75%, var(--backbone-breakout-color) 100%) ;
}

.backbone > div.backbone-start-popout.backbone-end-full {
    background: linear-gradient(90deg, var(--backbone-popout-color) 0%, var(--backbone-popout-color) 25%, var(--backbone-full-color) 75%, var(--backbone-full-color) 100%) ;
}

.backbone > div.backbone-start-content.backbone-end-popout {
    background: linear-gradient(90deg, var(--backbone-content-color) 0%, var(--backbone-content-color) 25%, var(--backbone-popout-color) 75%, var(--backbone-popout-color) 100%) ;
}

.backbone > div.backbone-start-content.backbone-end-breakout {
    background: linear-gradient(90deg, var(--backbone-content-color) 0%, var(--backbone-content-color) 25%, var(--backbone-breakout-color) 75%, var(--backbone-breakout-color) 100%) ;
}

.backbone > div.backbone-start-content.backbone-end-full {
    background: linear-gradient(90deg, var(--backbone-content-color) 0%, var(--backbone-content-color) 25%, var(--backbone-full-color) 75%, var(--backbone-full-color) 100%);
}