:root {
    --content-color: #fb923c;
    --popout-color: #facc15;
    --breakout-color: #4ade80;
    --edge-color: #2dd4bf;
}

html {
    background: #0d1117;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: white;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

section {
    margin: 0 !important;
    padding: 20px 0;
    background: rgb(3,8,12);
}

.b4ckbone {
    margin: 50px 0;
    gap: 20px 0;
}

.b4ckbone > div {
    padding: 20px 0;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #020617;
}

/* Cells color */
.b4ckbone > div:not(.content-start, .content-end, .popout, .popout-start, .popout-end, .breakout, .breakout-start, .breakout-end, .full, .edge-start, .edge-end),
.content {
    background: var(--content-color);
}

.b4ckbone > div.popout {
    background: var(--popout-color);
}

.b4ckbone > div.breakout {
    background: var(--breakout-color);
}

.b4ckbone > div.full {
    background: var(--edge-color);
}

.b4ckbone > div.edge-start.content-end {
    background: linear-gradient(90deg, var(--edge-color) 0%, var(--edge-color) 25%, var(--content-color) 75%, var(--content-color) 100%) ;
}

.b4ckbone > div.edge-start.popout-end {
    background: linear-gradient(90deg, var(--edge-color) 0%, var(--edge-color) 25%, var(--popout-color) 75%, var(--popout-color) 100%) ;
}

.b4ckbone > div.edge-start.breakout-end {
    background: linear-gradient(90deg, var(--edge-color) 0%, var(--edge-color) 25%, var(--breakout-color) 75%, var(--breakout-color) 100%) ;
}

.b4ckbone > div.breakout-start.content-end {
    background: linear-gradient(90deg, var(--breakout-color) 0%, var(--breakout-color) 25%, var(--content-color) 75%, var(--content-color) 100%) ;
}

.b4ckbone > div.breakout-start.popout-end {
    background: linear-gradient(90deg, var(--breakout-color) 0%, var(--breakout-color) 25%, var(--popout-color) 75%, var(--popout-color) 100%) ;
}

.b4ckbone > div.breakout-start.edge-end {
    background: linear-gradient(90deg, var(--breakout-color) 0%, var(--breakout-color) 25%, var(--edge-color) 75%, var(--edge-color) 100%) ;
}

.b4ckbone > div.popout-start.content-end {
    background: linear-gradient(90deg, var(--popout-color) 0%, var(--popout-color) 25%, var(--content-color) 75%, var(--content-color) 100%) ;
}

.b4ckbone > div.popout-start.breakout-end {
    background: linear-gradient(90deg, var(--popout-color) 0%, var(--popout-color) 25%, var(--breakout-color) 75%, var(--breakout-color) 100%) ;
}

.b4ckbone > div.popout-start.edge-end {
    background: linear-gradient(90deg, var(--popout-color) 0%, var(--popout-color) 25%, var(--edge-color) 75%, var(--edge-color) 100%) ;
}

.b4ckbone > div.content-start.popout-end {
    background: linear-gradient(90deg, var(--content-color) 0%, var(--content-color) 25%, var(--popout-color) 75%, var(--popout-color) 100%) ;
}

.b4ckbone > div.content-start.breakout-end {
    background: linear-gradient(90deg, var(--content-color) 0%, var(--content-color) 25%, var(--breakout-color) 75%, var(--breakout-color) 100%) ;
}

.b4ckbone > div.content-start.edge-end {
    background: linear-gradient(90deg, var(--content-color) 0%, var(--content-color) 25%, var(--edge-color) 75%, var(--edge-color) 100%);
}