:root {
    --content-color: #fb923c;
    --popout-color: #facc15;
    --breakout-color: #4ade80;
    --edge-color: #2dd4bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: #020617;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #020617;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #020617;
}

section {
    margin: 0 !important;
    padding: 20px 0;
    background: #d1d5db;
}

.b4ckbone {
    margin: 50px 0;
    gap: 20px 0;
}

.b4ckbone > div {
    padding: 20px 0;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #020617;
}

/* Cells color */
.b4ckbone > div:not(.start-content, .end-content, .popout, .start-popout, .end-popout, .breakout, .start-breakout, .end-breakout, .full, .start-edge, .end-edge),
.content,
.b4ckbone > div:not(.b4ckbone__col--content, .b4ckbone__col--start-content, .b4ckbone__col--end-content, .b4ckbone__col--popout, .b4ckbone__col--start-popout, .b4ckbone__col--end-popout, .b4ckbone__col--breakout, .b4ckbone__col--start-breakout, .b4ckbone__col--end-breakout, .b4ckbone__col--full, .b4ckbone__col--start-edge, .b4ckbone__col--end-edge),
.b4ckbone__col--content {
    background: var(--content-color);
}

.b4ckbone > div.popout,
.b4ckbone > div.b4ckbone__col--popout {
    background: var(--popout-color);
}

.b4ckbone > div.breakout,
.b4ckbone > div.b4ckbone__col--breakout {
    background: var(--breakout-color);
}

.b4ckbone > div.full,
.b4ckbone > div.b4ckbone__col--full {
    background: var(--edge-color);
}

.b4ckbone > div.start-edge.end-content,
.b4ckbone > div.b4ckbone__col--start-edge.b4ckbone__col--end-content {
    background: linear-gradient(90deg, var(--edge-color) 0%, var(--edge-color) 25%, var(--content-color) 75%, var(--content-color) 100%) ;
}

.b4ckbone > div.start-edge.end-popout,
.b4ckbone > div.b4ckbone__col--start-edge.b4ckbone__col--end-popout {
    background: linear-gradient(90deg, var(--edge-color) 0%, var(--edge-color) 25%, var(--popout-color) 75%, var(--popout-color) 100%) ;
}

.b4ckbone > div.start-edge.end-breakout,
.b4ckbone > div.b4ckbone__col--start-edge.b4ckbone__col--end-breakout {
    background: linear-gradient(90deg, var(--edge-color) 0%, var(--edge-color) 25%, var(--breakout-color) 75%, var(--breakout-color) 100%) ;
}

.b4ckbone > div.start-breakout.end-content,
.b4ckbone > div.b4ckbone__col--start-breakout.b4ckbone__col--end-content {
    background: linear-gradient(90deg, var(--breakout-color) 0%, var(--breakout-color) 25%, var(--content-color) 75%, var(--content-color) 100%) ;
}

.b4ckbone > div.start-breakout.end-popout,
.b4ckbone > div.b4ckbone__col--start-breakout.b4ckbone__col--end-popout {
    background: linear-gradient(90deg, var(--breakout-color) 0%, var(--breakout-color) 25%, var(--popout-color) 75%, var(--popout-color) 100%) ;
}

.b4ckbone > div.start-breakout.end-edge,
.b4ckbone > div.b4ckbone__col--start-breakout.b4ckbone__col--end-edge {
    background: linear-gradient(90deg, var(--breakout-color) 0%, var(--breakout-color) 25%, var(--edge-color) 75%, var(--edge-color) 100%) ;
}

.b4ckbone > div.start-popout.end-content,
.b4ckbone > div.b4ckbone__col--start-popout.b4ckbone__col--end-content {
    background: linear-gradient(90deg, var(--popout-color) 0%, var(--popout-color) 25%, var(--content-color) 75%, var(--content-color) 100%) ;
}

.b4ckbone > div.start-popout.end-breakout,
.b4ckbone > div.b4ckbone__col--start-popout.b4ckbone__col--end-breakout {
    background: linear-gradient(90deg, var(--popout-color) 0%, var(--popout-color) 25%, var(--breakout-color) 75%, var(--breakout-color) 100%) ;
}

.b4ckbone > div.start-popout.end-edge,
.b4ckbone > div.b4ckbone__col--start-popout.b4ckbone__col--end-edge {
    background: linear-gradient(90deg, var(--popout-color) 0%, var(--popout-color) 25%, var(--edge-color) 75%, var(--edge-color) 100%) ;
}

.b4ckbone > div.start-content.end-popout,
.b4ckbone > div.b4ckbone__col--start-content.b4ckbone__col--end-popout {
    background: linear-gradient(90deg, var(--content-color) 0%, var(--content-color) 25%, var(--popout-color) 75%, var(--popout-color) 100%) ;
}

.b4ckbone > div.start-content.end-breakout,
.b4ckbone > div.b4ckbone__col--start-content.b4ckbone__col--end-breakout {
    background: linear-gradient(90deg, var(--content-color) 0%, var(--content-color) 25%, var(--breakout-color) 75%, var(--breakout-color) 100%) ;
}

.b4ckbone > div.start-content.end-edge,
.b4ckbone > div.b4ckbone__col--start-content.b4ckbone__col--end-edge {
    background: linear-gradient(90deg, var(--content-color) 0%, var(--content-color) 25%, var(--edge-color) 75%, var(--edge-color) 100%);
}